@import '../../assets/styles/main'

.app
  position relative
  width 100%
  min-height 100vh
  background $bg
  padding 137px 0

.app_container
  background $white
  border-radius 10px
  box-shadow(0px 1px 5px $shadow)
  padding 40px 40px 58px